@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    /* Geist and Inter are sans-serif */
  }
  
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-blue-200 selection:text-blue-900;
  }

  /* Default dark mode preference */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-slate-950 text-slate-50 selection:bg-blue-900 selection:text-blue-100;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
